
body{background-color:white;}
h1{color: black;
font family:freeserif,bold italic;
font-size:50;}
p{color: blue;}
                                                                                                                         /html>